---
import Layout from "@/layouts/root-layout.astro";
import Section from "@/sections/section.astro";

import "@/styles/global.css";

import { faculty, staff } from "@/data/faculty";
import FacultyCard from "@/components/faculty-card.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { cn } from "@/lib/utils";

const normalAlignment = "col-start-2 col-end-[14]";
---

<PageLayout
  title="Faculty of Department of Electronics and Communication Engineering | GEC PKD"
>
  <Section
    title="Faculty"
    wrapperClass={cn(normalAlignment, "pb-[100px] space-y-8")}
    titleClass="before:content-none"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      {
        faculty.map((faculty) => (
          <FacultyCard
            name={faculty.name}
            designation={faculty.designation}
            image={faculty.image}
            email={faculty.email}
          />
        ))
      }
    </div>
  </Section>
  <Section
    title="Technical Staff"
    wrapperClass={cn(normalAlignment, "pb-[100px] space-y-8")}
    titleClass="before:content-none"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      {
        staff.map((staff) => (
          <FacultyCard
            name={staff.name}
            designation={staff.designation}
            image={staff.image}
            email={staff.email}
          />
        ))
      }
    </div>
  </Section>
</PageLayout>
